<div>
<% if flash[:warning] %>
  <%= flash[:warning] %>
  <a href="/bookmarks" class="close">&times;</a>
<% end %>

  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href=<%= bookmark[:url] %> > <%= bookmark[:title] %></a>
        <form action='/delete/<%= bookmark[:id] %>' method='post'>
          <input type="submit" value="Delete" id='delete_<%= bookmark[:id] %>'>
        </form>
        <form action='/update/<%= bookmark[:id] %>' method='get'>
          <input type="submit" value="Update" id='update_<%= bookmark[:id] %>'>
        </form>
      </li>
    <% end %>
  </ul>
  <form action="/create" method='get'>
    <input type="submit" value="Add link">
  </form>
</div>
